Saved/AutoScreenshot.png
*.log
Saved/
Intermediate/Config/
Intermediate/CachedAssetRegistry.bin
Intermediate/ReimportCache/3688439234.bin
Intermediate/
*.sdf
Binaries/Win64/UE4Editor-FreeFlight_GIT.dll
Binaries/Win64/UE4Editor-FreeFlight_GIT.pdb
Binaries/Win64/FreeFlight_GIT-Win64-DebugGame.exp
